:root{
	background-color: #2e3359;
}

.field{
	background-color: #3E3E3E;
	min-height: 100%;
	padding: 5px 5px 0px 5px;
	width:100%
}

.field .skill {
	background-color: #383838;
	width: 100%;
	height: auto;
	margin-bottom: 5px;
	padding: 5px 0 10px 0;
}

.field .skill .text{
	font-size: 15px;
	-unity-font-style: bold;
	margin-left: 10px;
}