:root{
	background-color: #2e3359;
}

.field{
	background-color: #3E3E3E;
	min-height: 100%;
	padding: 5px 5px 0px 5px;
	width:100%
}

.field .skill {
	background-color: #383838;
	width: 100%;
	height: 100px;
	margin-bottom: 5px;
}

.field .skill .text{
	font-size: 13px;
	margin-left: 5px;
}